l/*i {
	background-color: red;
	display: block;

}
nav {
	background-color: pink;

}
body {
	background-image: url("http://orig12.deviantart.net/8dbe/f/2008/188/9/b/sand_pattern_by_scintillaofeternity.jpg");
}*/

nav ol li {
	display: inline-block;
	width: 50px;
	background-color: red;
}